@import "tailwindcss";

@theme {
  --font-nunito: "Manrope", sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
}

/* Use Manrope as the site's default serif font */
body,
#root {
  font-family: "Manrope";
}

h3 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 600;
}